.square {
  width: 100px;
  height: 100px;
  display: grid;
  place-content: center;
}

.light-square {
  background-color: #f8f0dd;
}

.dark-square {
  background-color: #285269;
}

.chess-piece {
  width: 100px;
  height: 100px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 90px;
}

.chess-piece:hover {
  cursor: grab;
}
.chess-piece:active {
  cursor: grabbing;
}

.tile-highlight:not(.chess-piece-square)::before {
  content: "";
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: rgba(50, 50, 50, 0.4);
  z-index: 5;
}

.tile-highlight.chess-piece-square::before {
  position: absolute;
  border: 5px solid rgba(50, 50, 50, 0.4);
  margin: auto;
  content: "";
  width: 90px;
  height: 90px;
  border-radius: 50%;
  z-index: 5;
}
